<div class="album text-muted">
  <div class="container">
    <%= link_to "Create New Items", new_portfolio_url if logged_in?(:site_admin) %>
    <div class="row">
      <%= render partial: 'portfolios_item', collection: @portfolios_items %>
    </div>
  </div>
</div>
